<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New User</title>
</head>
<body>
<div>
    <form action="#" th:action="@{/admin/save}" th:object="${user}" method="post">
        <label for="name">Name</label>
        <input type="text" th:field="*{name}" id="name"/>
        <br>
        <label for="lastName">LastName</label>
        <input type="text" th:field="*{lastName}" id="lastName" />
        <br>
        <label for="mail">Mail</label>
        <input type="text" th:field="*{mail}" id="mail"/>
        <br>
        <br>
        <label for="password">Password</label>
        <input type="text" th:field="*{password}" id="password"/>
        <br>
        <br>
        <label class="col-4 col-form-label">Roles</label>
        <div class="col-8">
            <th:block th:each="role: ${roles}">
                <input type="checkbox" th:field="*{roles}"
                       th:text="${role.name}" th:value="${role.id}" class="m-2" />
            </th:block>
        </div>
        <br>
        <input type="submit" value="Save User"/>
    </form>
</div>
</body>
</html>